*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    }

.f_size{
    width: 350px;
    height: 350px;
    border: solid black;
    border-radius: 170px;
    border: 1px solid darkgrey;
    box-shadow: 0 0 7px #666;
}

.m-50{
    margin-top: 50px;
}
.m-30{
    margin-top: 30px;
}
.t-l{
    text-align: left;
}
.c_size{
    width: 200px;
    height: 200px;
    border: solid red;
}
.f_l{
    float: left;
}
.m-l{
    margin-left: 80px;
}
.p{
    padding: 10px;
}
.pole{
    font-weight: bold;
    font-family: "Segoe Script";
    text-align: left;
    color: black;
    font-size: 20px;

}
.icon_s{
    height: 20px;
    width:50px ;
}
.mini_f{
    display: inline;
    margin-right: 10px;
}
.w-100{
    width: 100%;
    height: 200px;
}
.gt{
    font-size: 40px;
    text-shadow: 2px 2px 3px black, 0 0 1em black;
    font-family: "Segoe Print";
    color: antiquewhite;
    text-align: center;
}
.services img{
    display: block;
    width: 100%;
    border-radius: 170px;
    border: 1px solid darkgrey;
    box-shadow: 0 0 7px #666;
    width: 23%;
    height: 300px;
    float: left;
    padding: 10px;
    margin-right: 13px;
    margin-left: 13px;
}
.services-wrap{
    width: 100%;
}
.container-fluid, p{
    width: 100%;
}
.w{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 30px;
    font-family: "Segoe Print";
}
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background: red;
    color: black;
    font-size: 30px;
    font-family: "Segoe Print";
    background: linear-gradient(to bottom, #b8b6b6, white);
    margin-top: 30px;
    text-align: center;

}

.t_c{
    text-align: center;

}
.showcase{
   background-color: rgba(13, 17, 27, 0.8);
    padding: 40px;
    color: white;
    position: absolute;
    z-index: 1;
    top: 25%;
    width: 50%;
    font-family: "Segoe Script";

}