<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Admin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/photographProfile.css">
</head>
<body>
<div class="head">
    <h1 >Вітаємо адмін</h1>
<!--add City AJAX-->
    <input type="" id="nameCity">
    <button id="saveCity">save City</button>
</div>

    <div>
        <button id = "allCities">all Cities</button>
        <div id="representer1"></div>
    </div>
</body>

<div>

    <input id="username" placeholder="username">
    <input id="password" placeholder="password">
    <button id="saveAdmin"> save Admin</button>

</div>
<div>
    <button id="findUser">find user</button>
    <div id="representerUser"></div>
</div>

    <script>
        $("#saveCity").click(function () {
            let nameCity = $("#nameCity").val();
            $("#representer").empty();
            $.ajax({
                url:'saveCity',
                type:'POST',
                contentType:'application/json',
                data:JSON.stringify({nameCity}),
                success:function (response) {
                    console.log(response);
                },
                error:function (err) {
                    console.log(err);
                }})})

        $("#allCities").click(function () {
            $("#representer1").empty();
            $.ajax({
                url:'allCities',
                type:'GET',
                success:function (response) {
                    console.log(response);
                    for (const singleCity of response){
                        let $divv = $('<div/>',{
                            text: singleCity.id + ' ' +singleCity.nameCity

                        });
                        $("#representer1").append($divv);
                    }
                },
                error:function (err) {
                    console.log(err);
                }})})



        $("#saveAdmin").click(function () {
            let username = $("#username").val();
            let password = $("#password").val();


            $("#representer2").empty();
            $.ajax({
                url:'saveAdmin',
                type:'POST',
                contentType:'application/json',
                data:JSON.stringify({username,password}),
                success:function (response) {
                    console.log(response);
                },
                error:function (err) {
                    console.log(err);
                }})})


        $("#findUser").click(function () {
            $("#representerUser").empty();
            $.ajax({
                url:'/findUser',
                type:'GET',
                success:function (response) {
                    console.log(response);
                    for (const singleUser of response){
                        let $div2 = $('<div/>',{
                            text: singleUser.id + ' ' +singleUser.username
                        });
                        $("#representerUser").append($div2);
                    }
                },
                error:function (err) {
                    console.log(err);
                }})})

    </script>
