<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/photographProfile.css">
</head>
<body>
<div class="head">
    <h1 >Вітаємо адмін</h1>
</div>
<div>
    <h2>Пошук юзера</h2>
    <form action="/userFound">
        <input name="username" placeholder="Введіть імя юзера ">
        <input type="submit" value="шукати" >
        <ul>
            <a th:object="${o}">
                <a th:text="${o}">
                </a>
            </a>
        </ul>
    </form>
</div>
<div>
    <form action="/saveCity" method="post">
        <input name="nameCity" placeholder="Введіть нове місто">
        <input type="submit" value="добавити місто">
    </form>

</div>

<div>
    <form action="/allCities">
        <input type="submit" value="Переглянути всі міста">
        <ul>
            <li th:each="cities : ${cities}">
                <h2 th:text="${cities.getNameCity()}"> </h2>
            </li>
        </ul>
    </form>
</div>