<!DOCTYPE html>

<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" media="screen" href="../static/css/index_style.css" th:href ="@{/css/index_style.css}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фотографи України</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../../../photograph-on/src/main/resources/static/css/photographProfile.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Внесіть свої дані</h4>
            </div>
            <form action="#">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Логін</label>
                        <input type="text" class="form-control" placeholder="enter your login">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="text" class="form-control" placeholder="enter your password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Увійти</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="left">
    <div >

        <button id="savePhotograph" data-toggle="modal" data-target=".bs-example-modal-sm" > <span>PHOTOGRAPHER</span></button>

    </div>
</div>


<div id="right">
    <a th:href="@{'/login'}">
        <div> <button id="saveUser"><span>USER</span></button></div>
    </a>
</div>


</body>

</html>