<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/photographProfile.css">
</head>
<style>
    .folder{
        background: red;
        float: left;
        margin-left: 20px;
        margin-top: 5%;
        height:200px;
        width: 200px;
        text-align: center;

    }
    .addFolder{
        background: blueviolet;
        color: red;
        float: left;
        margin-left: 20px;
        margin-top: 5%;
        height:200px;
        width: 200px;
        text-align: center;

    }
    #main{
        color: black;
        text-align: center;
    }
</style>
<body>
<h1 id="main">Папки</h1>
<a href="Photos.html"><div class="folder">Folder1</div></a>
<a href="Photos.html"><div class="folder">Folder2</div></a>
<a href="Photos.html"><div class="folder">Folder3</div></a>
<a href="Photos.html"><div class="folder">Folder4</div></a>
<a href="Photos.html"><div class="folder">Folder5</div></a>
<a href="Photos.html"><div class="folder">Folder6</div></a>
<a href="Photos.html"><div class="folder">Folder7</div></a>
<a href="addFolder"><div class="addFolder">AddFolder</div></a>

</body>
<script>

</script>
</html>