<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr>
<H1>Реєстрація </H1>
<form th:action="@{/saveUser}" method="post">
    <input type="" name="username" placeholder="">
    <input type="password" name="password" placeholder="">
    <input type ="email"  name = "mail" placeholder="">
    <input type = "submit" value="go!">
</form>
<form th:action="@{/login}" method="post">
    <input type="" name="username" placeholder="">
    <input type="password" name="password" placeholder="">
    <input type = "submit" value="go!">
</form>

</body>
</html>