<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>photographProfile</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/photographProfile.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-red">
<div class="container, col-md-12" style="width: 100%">
    <div class="row">
        <div >
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" style="background: grey" ><img src="../static/images/logo-inverse-5.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="pole"><a href="#">Чат</a></li>
                            <li class="pole"><a href="#">Галереї</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle, pole" data-toggle="dropdown">Топ <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Топ фотографів</a></li>
                                    <li><a href="#">Топ фотографій</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" style="margin-right: 60px">
                            <button type="button" class="btn btn-default btn-lg, pole">Мій профіль</button>
                            <button type="button" class="btn btn-default btn-lg, pole" style="margin-left: 30px">Вийти</button>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</div>


<div class="container-fluid">
<div class="row" >
    <div class="col-md-4">
        <div class="col-md-12, f_size" ><img src="../static/images/photograph.png " class="f_size"></div>

            <div><button class="btn btn-info btn-lg, butChan" >Змінити дані про себе</button></div>
        <p class="m-30, pole">[[${Number}]]</p>
        <p class="m-30, pole">[[${Prise}]]</p>
        <p class="m-30"><button type="button" class="btn btn-default" style="background: transparent"><img src="../static/images/Facebook.png" height="40px" , width="100px"></button>
                        <button type="button" class="btn btn-default" style="background: transparent"><img src="../static/images/Instagram_icon.png" height="40px" , width="50px"></button></p>

    </div>
    <div class="col-md-8">
        <div class="p">
             <div class="col-md-6">
                 <p class="m-30, pole" th:text="" >Name</p>
                 <p class="m-30, pole">Surname</p>
                 <p class="m-30, pole">Sex</p>
                 <p class="m-30, pole">Age</p>
                 <p class="m-30, pole">Opus</p>
             </div>
        <div class="col-md-6"style="background: lightsteelblue">
            <p class="m-50, pole" style="background: lightsteelblue">Raiting</p>
            <div class="m-50">SetRaiting</div>
        </div>
    </div>
    </div>
</div>
</div>
        <div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="..." alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                ...
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        </div>
<div class="container-fluid, footer" >
    <p></p><a href="">Правила сайту</a></p>
    <button type="button" class="btn btn-default" style="background: transparent"><img src="../static/images/Facebook.png" height="40px" , width="100px"></button>
    <button type="button" class="btn btn-default" style="background: transparent"><img src="../static/images/Instagram_icon.png" height="40px" , width="50px"></button></p>

</div>


</body>

<script>
   // <select id="rating" name ="mark"></select>
    function getRating() {
        var start = 1;
        var end = 5;
        var options ="";
        for(var rating = start ; rating <=end; rating++){
            options += "<option>"+ rating +"</option>";
        }
        document.getElementById("ratting").innerHTML = options;
    }
</script>
</html>
</html>