<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html  lang="en">
<head>
    <link rel="stylesheet" media="screen" href="../css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реєстрація</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="..//css/photographProfile.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="modal fade bs-example-modal-sm-photograph" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Внесіть свої дані</h4>
            </div>
            <form th:action="@{/newPhotograph}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Логін</label>
                        <input type="text" class="form-control" name="username" placeholder="enter your login">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" class="form-control" name = "password" placeholder="enter your password">
                    </div>
                    <div class="form-group">
                        <label>Електронна пошта</label>
                        <input type="email" class="form-control" name="mail" placeholder="enter your email">
                    </div>

                </div>
                <div class="modal-footer">
                    <input type = "submit" class="btn btn-primary" value="Зареєструватися">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Внесіть свої дані</h4>
            </div>
            <form th:action="@{/newUser}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Логін</label>
                        <input type="text" class="form-control" name="username" placeholder="enter your login">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" class="form-control" name="password" placeholder="enter your password">
                    </div>
                    <div class="form-group">
                        <label>Електронна пошта</label>
                        <input type="email" class="form-control" name="mail" placeholder="enter your email">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type = "submit" class="btn btn-primary" value="Зареєструватися">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="left">
    <div >
        <button id="savePhotograph" data-toggle="modal" data-target=".bs-example-modal-sm-photograph" > <span>PHOTOGRAPHER</span></button>
    </div>
</div>


<div id="right">
        <div>
            <button id="saveUser" data-toggle="modal" data-target=".bs-example-modal-sm-user" ><span>USER</span></button>
        </div>
</div>


</body>

</html>
</html>